.text-primary {
  color: @brand-primary;
}

.text-secondary {
  color: @brand-secondary;
}

.blurb {
  .make-xs-column(12);
  .make-sm-column(6);
}

.blurb h3 {
  margin-top: 0;
}
.main-pic {
  .make-xs-column(12);
  .make-sm-column(6);
}

.video-embed {
  margin-top: 40px;
  .make-xs-column(12);
  .make-sm-column(7);
  margin-bottom: 20px;
}

.video-info {
  .make-sm-column(5);
  text-align: justify;
  max-width: 400px;
}

.video-title {
  margin-top: 40px;
}

.video-title h3 {
  margin-top: 0;
}