.title {
  @media (min-width: @screen-sm){
    margin-top: 55px;
  }
}

.title h1 {
  font-weight: bold;
  margin-bottom: 40px;
}

.text-primary {
  color: @brand-primary;
}

.text-secondary {
  color: @brand-secondary;
}

.video-embed {
  margin-top: 40px;
  .make-xs-column(12);
  .make-sm-column(7);
  margin-bottom: 20px;
}

.video-info {
  .make-sm-column(5);
  text-align: justify;
  @media (min-width: @screen-sm){
    max-width: 400px;
  }
}

.video-push {
  .make-sm-column-push(5);
}

.info-pull {
  .make-sm-column-pull(7);
  text-align: right;
}

.video-title {
  margin-top: 40px;
}

.video-title h3 {
  margin-top: 0;
  line-height: 0.5;
}

.italic {
  font-style: italic;
  h3 {
    font-size: 20px;
  }
}


#packages {
  max-width: 500px;
  margin: 80px auto;
}

.package-title {
  font-size: 36px;
}

.mainBlurb {
  .make-sm-column(6);
  h3 {
    margin-top: 0px;
  }
}

.mainPic {
  .make-sm-column(6);
}