.demo-reel {
  text-align: center;
  padding: 0;
  cursor: pointer;
  @media (min-width: @screen-sm){
    height: 500px;
  }
}

.video-wrap {
  margin: 40px auto;
  position: relative;
  max-width: 720px;
  opacity: 0;
}

.container-fluid {
  max-width: 1200px;
}

.b-img {
  display: inline;
  position: relative;
  left: -65px;
  top: 100px;
  height: 150px;
  width: auto;
}

.g-img {
  display: inline;
  position: relative;
  top: 100px;
  left: 65px;
  height: 150px;
  width: auto;
}

.blueline {
  #gradient.horizontal-three-colors(black, @brand-secondary, 50%, black);
  width: 100%;
  height: 3px;
  margin-bottom: 10px;
}

.greenline {
  #gradient.horizontal-three-colors(black, @brand-primary, 50%, black);
  width: 100%;
  height: 3px;
}

.logo-wrap {
  position: relative;
  margin: 0 auto;
  display: none;
  span h2 {
    display: inline;
  }
  min-width: @screen-sm;
}

#click-for-reel {
  position: relative;
  top: -170px;
  font-size: 44px;
  opacity: 0;
  .link-transition(1.5s);
  cursor: pointer;
}

h2.customfont {
  font-family: "Birth Of A Hero";
  font-size: 126px;
  position: relative;
  top: -55px;
}

#a1 {
  position: relative;
  left: 170px;
}

#n2 {
  position: relative;
  left: -170px;
}

#n1 {
  position: relative;
  left: 115px;
}

#a3 {
  position: relative;
  left: -115px;
}

#g1 {
  position: relative;
  left: 45px;
}

#r1 {
  position: relative;
  left: -45px;
}

#a2 {
  position: relative;
}

#click {
  position: relative;
  // top: -60px;
}

#a1, #n2, #n1, #a3, #g1, #r1, #a2, #click {
  opacity: 0;
}

#b1 {
  color: @brand-secondary;
  position: relative;
  left: 270px;
  z-index: 1;
}

#g2 {
  color: @brand-primary;
  position: relative;
  left: -270px;
}

.logo-wrap {
  top: 150px;
}

.stripe {
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.green-stripe{
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, @brand-primary 16%, @brand-primary 84%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, @brand-primary 16%, @brand-primary 84%, rgba(0, 0, 0, 0) 100%);
}

.blue-stripe {
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, @brand-secondary 16%, @brand-secondary 84%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, @brand-primary 16%, @brand-primary 84%, rgba(0, 0, 0, 0) 100%);
}

.category_link {
  .make-xs-column(2);
  margin-top: 50px;
}