// color variables
@bg-color: #000;
@brand-primary: rgba(51,204,51,1.0);
@brand-primary-dull: rgba(51,204,51,0.5); 
@brand-secondary: rgba(66,139,202,1.0);
@brand-secondary-dull: rgba(66,139,202,0.7);
@social-bg: #3399cc;

// size variables
@social-icon-size: 27px;

// location variables
@logo-top: 12px;

//font size
@font-size-h1: 65px;
@font-size-h2: 48px;
@font-size-h3: 24px;
@font-size-h4: 16px;
@font-size-h5: 12px;

@navbar-collapse-max-height: 600px;